.wraper{
    background: #f6f6f6;
    height: 100vh;
    padding-top: 100px;
}
.bg-image{
    background: url('./../../../assets/images/bg-login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}

.form-login{
    position: relative;
    z-index: 99;
}

.bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}